<%- include('../partials/boilerplate.ejs') %>
  <title>Sign In</title>
  </head>

  <body>
    <%- include('../partials/_navbar.ejs') %>
      <h1 class="signin">Sign in</h1>
      <form action="/auth/sign-in" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
        <button type="submit">Sign in</button>
      </form>
  </body>

  </html>