<nav>
    <a href="/" class="btn">Home</a>
    <% if(user) { %>
      <a href="/users/<%=user._id%>/events" class="btn">View my Events</a>
      <a href="/auth/sign-out" class="btn">Sign Out</a>
    <% } else { %>
      <a href="/auth/sign-in" class="btn">Sign In</a>
      <a href="/auth/sign-up" class="btn">Sign Up</a>
    <% } %>
  </nav>