<%- include('partials/boilerplate.ejs') %>
    <title>EMS</title>
    </head>

    <body>
        <%- include('./partials/_navbar.ejs') %>
            <h1 class="title">Welcome to the Admin</h1>
    </body>

    </html>