<%- include('partials/boilerplate.ejs') %>
    <title>EMS</title>
    </head>

    <body>
        <%- include('./partials/_navbar.ejs') %>
            <h1 class="title">Welcome to Event Management System!</h1>
            <div class="welcome">
                <div class="subtitle">
                    <h1>Expand Your Reach to <br />Global Audiences with <br />Virtual Event Platform</h1>
                </div>
                <div>
                    <img src="../images/scheduler.png" alt="A calender scheduler">
                </div>
            </div>
    </body>

    </html>