<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Community page</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Community page</h1>
    <div class="evtCardss">
        <% events.forEach( (evt) => { %>
            <div class="evtCard">
                    <%= evt.name %>
            </div>
        <% }) %>
    </div>
</body>
</html>